/* FONT IMPORTED */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");


/** HEADER */

/** NAVIGATION BAR */
nav {
  overflow: hidden;
  background-color: #bb2205;
  position: relative;
  width: 100%;
  height: 10vh !important;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      &:hover {
        color: whitesmoke;
      }
    }

    /** FORM INPUT */

    .form-inline {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      input {
        overflow: visible;
        margin: 0;
        font-family: inherit;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: text;
        font: 400 13.3333px Arial;
      }

      .form-control {
        display: block;
        height: calc(1.5em + .75rem + 2px);
        max-width: 15vw;
        padding: .375rem .75rem;
        font-size: 0.8rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #bb2205;
        border-radius: .50rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
      .option-box {
        display: block;
        max-width: 10vw;
        padding: .375rem 1.75rem .375rem .75rem;
        margin-right: 15px;
        font-size: 0.8rem;
        font-weight: 400;
        color: #495057;
        border: 1px solid #bb2205;
        border-radius: .25rem;
      }
      
      select {
        /* letter-spacing: normal; */
        word-spacing: normal;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        -webkit-rtl-ordering: logical;
        cursor: default;
        font: 400 13.3333px Arial;
      }
      
      option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;
      }

    }

  button {
    margin-left: 1em;
    &:hover {
      color: #bb2205;
      border: 1px solid  whitesmoke;
    }
  }

    .btn {
      color: #495057;
      cursor: pointer;
      display: inline-block;
      font-weight: bold;
      text-align: center;
      background-color: white;
      border: 1px solid  white;
      padding: .300rem .75rem;
      line-height: 1.5;
      border-radius: .50rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }


}

.content {
  text-align: center;
}

/** Responsive breakpoints */

@media (max-width: 419.98px) { 
  nav {
    height: 6vh !important;

      a {
        font-size: 1rem;
      }
  
      .form-inline {
        
  
        .form-control {
          font-size: 0.4rem;
        }
        .option-box {
          font-size: 0.4rem;
        }
      }

      .btn {
        font-size: 0.4rem;
      }
  
  }
 }

@media (min-width: 420px) and (max-width: 649.98px) { 
  nav {


    .form-inline {

      .form-control {
        font-size: 0.6rem;
      }
      .option-box {
        font-size: 0.6rem;
      }
    }

    .btn {
      font-size: 0.6rem;
    }

  }
 }